/*
 pit - 14 nov 2022  - 15:23:57
*/
@font-face {
    font-family: 'novamono';
    src: url("../novamono.ttf") format("truetype");
}
html, body {
    min-height: 100%;
}
body {
    background-image: linear-gradient(to top, transparent, #000);
    color: #fff;
    font-family: arial;
}
#content {
    position: relative;
    width: 100%;
    height: auto;
    top: 5em;
    font-family: arial new;
    margin-bottom: 5em;
}
.center {
    display: block;
    margin: 0px auto;
    text-align: center;
}
h1 {
    font-family: 'novamono';
    color: #14a91e;
    font-size: 2.4em;
    font-weight: normal;
    letter-spacing: 2px;
}
h2 {
    font-family: 'novamono';
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 2px;
}
#butlist {
    text-align: left;
    width: 50%;
}
#butlist2 {
    margin-top: 5px;
    width: 50%;
}
input[type="text"]{
    position: relative;
    display: inline;
}
textarea {
    width: 70%;
}
.button1 {
    font-family: novamono;
    color: #000;
    font-size: 2.2em;
    border-style: outset;
    background-color: #857e6d;
    border-left:2px solid #bbbbbb;
    border-top:2px solid #bbbbbb;
    border-right: 2px solid #5e5d5d;
    border-bottom: 2px solid #5e5d5d;
    padding: 0px 5px 0 5px;
    margin: 5px 5px 5px 10px;
}
.button1:hover {
    border-style: inset;
    background-color: #c5c4bd;
    border-left:2px solid #5e5d5d;
    border-top:2px solid #5e5d5d;
    border-right: 2px solid #bbbbbb;
    border-bottom: 2px solid #bbbbbb;
}
.button1:focus {
    background-color: #c5c4bd;
    font-weight: normal;
}
.limit {
    width: 50px;
}
table.buttons {
    width: 100%;
    border: 3px groove #a6ada8;
}
tr.buttons {
    margin-top: 10px;
}
table.result {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #939393;
    border-collapse:collapse;
    table-layout:fixed;
    width: 100%;
}
th.result {
    color: #ddd5d5;
    padding: 5px;
    text-align: left;
    border: 1px solid #939393;
}
td.result {
    border: 1px solid #939393;
    padding: 3px;
    text-align: left;
    word-break: break-word;
}
table.result tr:nth-child(odd) td{
    background-color: #646262;
    color: #000;
}
table.result tr:nth-child(even) td{
    background-color: #3c3c3c;
    color: #817c7c;
}

